{% extends 'base.html' %}

{% block title %}

<!--Title and Header-->
<h1>I-Planetery</h1>
<h2> These wonderful items will be crafted just for you!!! </h2>

{% endblock %}

<br><br>

{% block content %}


{% for item in items %}
    <h2><strong>{{item.name}}</strong></h2>
    <h3><strong>By: {{item.author}} by {{item.date_posted | date:"F d, Y"}}</strong></h3>
    <h3><strong>{{item.content}}</strong></h3>
{% endfor %}

<br><br><br>
<!--Buttons-->
<form action="/cart/add">
    <button type ='submit'> Request Devices! </button>
</form>
<form action="/">
    <button type ='submit'> Beam Me Home! </button>
</form>


{% endblock %}
