{% extends 'base.html' %}

{% block content %}

<title> Add Cart Page </title>

<br><br><br><br>

<form method ='POST' action='cart-display'> <!--Add items to cart-->
    <fieldset>
        <legend> Add Cart Items</legend>
    <!--Title-->
    <p>
        <label for ='title' > Title </label><br>
        <input type='text' name='title'>
    </p>
    <!--Description-->
    <p>
        <label for='description'>Description</label><br>
        <input type='text' name='description' /> 
    </p>
    </fieldset>

    <!--Add to Cart-->
    <p>
        <button type=submit> Submit Item Request </button>
    </p>
</form>

<form action="/">
    <button type ='submit'> Beam Me Home! </button>
</form>

{% endblock %}