{% load static %}

<html>

<head>
    <link rel='stylesheet' href="{% static 'index.css' %}">
    {% block title %}
    {% endblock %}
</head>

<body>
    <!--HERO-->
    <div class="jumbotron text-center hero-background-img">
        <div class="row">
            <div class="col">
                <h1>You have been logged out</h1>
                <p><a href="{%url 'login' %}">Login Again</a></p>
                <form action="/login">
                    <button type ='submit'> Returning User? Login! </button>
                </form>
                <form action ='/'>
                    <button type='submit'> Beam Me Home </button>
                </form>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

</body>


</html>