
{% extends 'base.html' %}


{% block title %}
<!--Title and Header-->
    <h1>I-Planetery</h1>
    <h3> Browse to your Commanders Content! </h3>
    
<!--Links-->
<form action ='/cart'>
    <button type='submit'> See Cart </button>
</form>



<!--Buttons-->
<form action="/cart/add">
    <button type ='submit'>Go to Request Devices! </button>
</form>

<!--Images-->
<div class="polaroid1">
    <img src="../static/bubble.jpg" alt="Bubble Mask" style="width:100%">
    <div class="container">
        <small><strong>Bubble Mask</strong></small><br><br>
        <small>~Mask made of the finest Gilly Weed Extract (MMO)~</small><br>
    </div>
</div>

<div class="polaroid2">
    <img src="../static/towel.jpg" alt="Towel" style="width:100%">
    <div class="container">
        <small><strong>Towel</strong></small><br><br>
        <small> ~"It's about the most massively useful thing an interstellar hitchhiker can have. Partly it has great practical value."~ </small><br>
    </div>
</div>

<div class="polaroid3">
    <img src="../static/forcefield.jpg" alt="Forcefield" style="width:100%">
    <div class="container">
        <small><strong>Forcefield</strong></small><br><br>
        <small>~For protecting you, your loved ones, and your home planet in the most dire of times~</small><br>
    </div>
</div>



{%endblock%}